@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 
  background-color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:hover {
  color: #535bf2;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Custom Scrollbar Styles */
.sidebar-scrollbar {
  overflow-y: auto; /* Ensure the scrollbar only appears when needed */
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  opacity: 0; /* Hide the scrollbar initially */
  transition: opacity 0.3s; /* Smooth transition for showing/hiding */
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; /* Background color of the scrollbar track */
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter color on hover */
}

.sidebar-scrollbar:hover::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar on hover */
}

/* For Firefox */
.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 #2d2d2d;
}
